.boiteInfoTrans
{
    text-align: center;
    width: 100%;
    padding: 1%;
    color: #007DEB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
}
.boiteInfos
{
    margin-top: 5%;
    width: 80%;
    padding: 1%;
    font-size: 150%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid rgb(25, 0, 255); */
}

label
{
    font-style: italic;
}
.boiteInfosNumeroTel, .numeroTel, .boiteInfosMontant, .montant
{
    text-align: center;
    border: 1px solid #007DEB;
    border-radius: 5px;
    width: 90%;
    padding: 2%;
    font-size: 140%;
}

.boiteRetraitOuDepot, .boiteOrangeouMtn
{
    margin-top: 2%;
    width: 100%;
    padding: 1%;
    font-size: 150%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* border: 1px solid rgb(43, 255, 0); */
}
.boiteDepot, .boiteRetrait, .boiteOrange, .boiteMtn
{
    width: 45%;
    padding: 1%;
    margin: 1%;
    font-size: 150%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid #007DEB;
    border-radius: 5px
}

.boiteInfosBtnDemarrer
{
    font-size: 130%;
    color: white;
    background-color: #007DEB;
    border-radius: 5px;
    padding: 1.5%;
    margin: 1%;
}
.modalEtatTransaction, .modalTransactionImpossible, .fenetreAlerteDepotTerm, .fenetreAlerteDepotAnnuler
{
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    color: #007DEB;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.616);
}
.boiteSuivitTransaction
{
    background-color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    font-size: 110%;
}
.etat
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 5%;
}
.etat > p
{
    color: red;
}
.h2Imp
{
    color: red;
    margin: 5%;
}
.btnOKNouvMont
{
    background-color: #007DEB;
    color: white;
    font-size: 120%;
    padding: 2%;
    width: 40%;
    border-radius: 5px;
}
@media (max-width : 850px) 
{
    .boiteInfos
    {
        width: 99%;
        font-size: 120%;
    }
    .boiteRetraitOuDepot, .boiteOrangeouMtn
    {
        width: 99%;
        font-size: 110%;
    }
    .boiteDepot, .boiteRetrait, .boiteOrange, .boiteMtn
    {
        width: 90%;
        font-size: 110%;
    }
    .boiteSuivitTransaction
    {
        width: 80%;
    }
}