*
{
    margin: 0px;
    padding : 0px;
    box-sizing: border-box;
    text-align: center;
}
body
{
    width: 100%;
}
.head
{
    padding: 3%;
    font-size: 110%;
    color : white;
    background:linear-gradient( to bottom, #007DEB, white);
}
.boiteIdentification
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    color: #007DEB;
    font-size: 110%;
}
.boiteIdentification > h2
{
    margin-bottom: 1%;
}

.boiteIdentification > p
{
    font-size: 10px;
}
form
{
    text-align : left;
}
form > label
{
    font-style: italic;
}
form > input
{
    font-weight: bold;
    border: 1px solid #007DEB;
    border-radius: 5px ;
    padding: 1%;
    font-size: 110%;
}
button
{
    background-color: #007DEB;
    color: white;
    border: 2px solid #0069c5;
    border-radius: 5px;
    padding: 2%;
    margin-top: 6%;
    width: 110px;
    font-size: 105%;
}

.boiteIdentificationRouge > *
{
    color : red;
}
.nom , .motDePasse
{
    border : 2px solid red;
}