*
{
    margin: 0px;
    padding : 0px;
    box-sizing: border-box;
}

body
{
    padding: 10% 10% 10% 10%;
}
.corps
{
    box-shadow: 0px 0px 99px red;
    padding: 10% 10% 10% 10%;
}
.boiteRouge
{
    text-align : center;
    padding: 2% 2% 2% 2%;
    background-color: red;
    border: 3px solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 99px red;
}
.boiteRouge > h1
{
    color: white;
}